packages/*
packages/*
PokerOdds.Azure/bin/*
PokerOdds.Azure/csx/Debug/*
PokerOdds.Azure/obj/*
*.user
PokerOdds.HandEvaluator/bin/*
PokerOdds.HandEvaluator/obj/*
PokerOdds.Mvc.Web.Tests/bin/*
PokerOdds.Mvc.Web.Tests/obj/*
PokerOdds.Mvc.Web/bin/*
PokerOdds.Mvc.Web/obj/*
*.suo
PokerOdds.Web.OWIN/bin/*
PokerOdds.Web.OWIN/obj/*
UpgradeLog.htm
Backup/*
PokerOdds.HoldemOdds/bin/*
PokerOdds.HoldemOdds/obj/*
PokerOdds.CachePrimer/bin/*
PokerOdds.CachePrimer/obj/*